@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@layer base {
    :root {

        /* Light Theme Variables */
        --background: hsl(268, 58%, 93%);
        --foreground: hsl(0, 0%, 10%);
        --card: hsl(0, 0%,98%);
        --card-primary: hsl(218, 73%, 96%);
        --card-accent: hsl(260, 82%, 67%);
        --card-foreground: hsl(233, 100%, 2%);
        --popover: hsl(269, 30%, 92%);
        --popover-foreground: hsl(215, 18%, 22%);
        --primary: hsl(0, 0%, 100%);
        --primary-foreground: hsl(0, 0%, 10%);
        --secondary: hsl(215, 84%, 52%);
        --secondary-foreground: hsl(220 16% 96%);
        --muted: hsl(219, 78%, 96%);
        --muted-foreground: hsl(215 18% 12%);
        --accent: hsl(0, 0%, 98%);
        --accent-foreground: hsl(0, 0%, 2%);
        --destructive: hsl(0, 62.8%, 73%);
        --destructive-foreground: hsl(217 19% 10%);
        --border: hsl(270 10% 65%);
        --input: hsl(0, 0%, 85%);
        --ring: hsl(0, 0%, 20%);

        /* Charts for Light Mode */
        --chart-1: hsl(220, 70%, 50%);
        --chart-2: hsl(160, 60%, 45%);
        --chart-3: hsl(30, 80%, 55%);
        --chart-4: hsl(280, 65%, 60%);
        --chart-5: hsl(340, 75%, 55%);
        --sidebar-background: hsl(240, 5.9%, 90%);
        --sidebar-foreground: hsl(240, 4.8%, 10%);
        --sidebar-primary: hsl(224.3, 76.3%, 55%);
        --sidebar-primary-foreground: hsl(0, 0%, 0%);
        --sidebar-accent: hsl(240, 3.7%, 84.1%);
        --sidebar-accent-foreground: hsl(240, 4.8%, 10%);
        --sidebar-border: hsl(240, 3.7%, 84.1%);
        --sidebar-ring: hsl(217.2, 91.2%, 59.8%);

        /* Custom variables */
        --button: hsl(216, 100%, 77%);
        --button-foreground: hsl(213 11% 15%);
        --button-accent: hsl(35, 95%, 61%);
        --inactive: hsl(264, 6%, 84%);
    }

    .dark {
        --background: hsl(180, 3%, 94%);
        --foreground: hsl(255 13% 12%);
        --card: hsl(269 30% 14%);
        --card-primary: hsl(266, 30%, 14%);
        --card-accent: hsl(260, 82%, 67%);
        --card-foreground: hsl(214, 18%, 77%);
        --popover: hsl(269 30% 14%);
        --popover-foreground: hsl(214 19% 78%);
        --primary: hsl(268, 58%, 7%);
        --primary-foreground: hsl(0 0% 100%);
        --secondary: hsl(215 84% 52%);
        --secondary-foreground: hsl(220 16% 96%);
        --muted: hsl(269 25% 19%);
        --muted-foreground: hsl(214 19% 78%);
        --accent: hsl(0, 0%, 98%);
        --accent-foreground: hsl(0, 0%, 2%);
        --destructive: hsl(0, 100%, 50%);
        --destructive-foreground: hsl(217 19% 90%);
        --border: hsl(270 10% 35%);
        --input: hsl(0 0% 14.9%);
        --ring: hsl(0 0% 83.1%);

        /* Charts for Dark Mode */
        --chart-1: hsl(220 70% 50%);
        --chart-2: hsl(160 60% 45%);
        --chart-3: hsl(30 80% 55%);
        --chart-4: hsl(280 65% 60%);
        --chart-5: hsl(340 75% 55%);
        --sidebar-background: hsl(169, 63%, 8%);
        --sidebar-foreground: hsl(240 4.8% 95.9%);
        --sidebar-primary: hsl(224.3 76.3% 48%);
        --sidebar-primary-foreground: hsl(160 5% 87%);
        --sidebar-accent: hsl(169, 63%, 8%);
        --sidebar-accent-foreground: hsl(79, 47%, 51%);
        --sidebar-border: hsl(169, 63%, 8%);
        --sidebar-ring: hsl(217.2 91.2% 59.8%);

        /* Custom variables */
        --button: hsl(215 100% 84%);
        --button-foreground: hsl(213 11% 15%);
        --button-accent: hsl(35, 95%, 61%);
        --inactive: hsl(271, 16%, 28%);
    }

    /* Debugging Borders */
    .debug-border * {
        border: 1px solid red !important;
    }

    /* Base Styling */
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}
